/* VARIABLES */
:root {
	--color-1: #ffffff;
	--color-2: #f8f8f8;
	--color-3: #ebebeb;
	--color-4: #1792d2;
	--color-5: #143774;
	--color-6: #707070;
	--color-7: #717171;
	--font-1-Ubuntu: "Ubuntu", sans-serif;
	--font-2-Lora: "Lora", serif;
}

h3 {
	color: var(--color-4);
	font-family: var(--font-2-Lora);
	font-size: 1.3rem;
	font-weight: 300;
	margin: 1em 0;
}
