/* VARIABLES */
:root {
	--color-1: #ffffff;
	--color-2: #f8f8f8;
	--color-3: #ebebeb;
	--color-4: #1792d2;
	--color-5: #143774;
	--color-6: #707070;
	--color-7: #717171;
	--font-1-Ubuntu: "Ubuntu", sans-serif;
	--font-2-Lora: "Lora", serif;
}

/* RESET */
* {
	margin: 0;
	/* border: 1px solid red; */
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	/* GENERAL */
	font-family: var(--font-1-Ubuntu);
	scroll-behavior: smooth;
}

/* LAYOUT */

.container--header {
	background: var(--color-2);
	width: 100%;
	height: 12em;
	display: flex;
	justify-content: center;
}

.header {
	display: flex;
	justify-content: space-between;
	width: 60%;
	max-width: 1200px;
}

.header__logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header__logo__title {
	font-family: var(--font-2-Lora);
	font-size: 2rem;
	font-weight: 300;
	color: var(--color-5);
}

.header__logo__description {
	font-size: 0.75rem;
	font-weight: 700;
	letter-spacing: 2px;
}

.header__logo__description,
a {
	color: var(--color-4);
}

.header__navbar {
	display: flex;
}

@media only screen and (max-width: 1200px) {
	.header {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.header__logo {
		margin-bottom: 2em;
	}

	.header__navbar__list__item:first-of-type {
		padding-left: 0;
	}
}

.header__navbar__list {
	display: flex;
	align-items: center;
	list-style: none;
}

.header__navbar__list__item {
	padding-left: 2em;
}

.header__navbar__list__item__link {
	font-size: 0.875rem;
	font-weight: 600;
	text-decoration: none;
	color: var(--color-7);
	letter-spacing: 3.2px;
}

.header__navbar__list__item__link:active {
	border-bottom: 1px solid var(--color-7);
}

.active {
	border-bottom: 2px solid var(--color-4);
	padding-bottom: 0.5em;
}

@media only screen and (max-width: 640px) {
	* {
		/* border: 1px solid red; */
	}

	.header {
		width: 100%;
	}

	.header__navbar__list__item {
		padding: 0 0.8em;
	}
}

@media only screen and (max-width: 500px) {
	.container--header {
		height: 250px;
	}

	.header__navbar__list {
		flex-direction: column;
	}

	.header__navbar__list__item {
		margin-bottom: 1em;
	}
}

.container--content {
	background: var(--color-1);
	width: 60%;
	max-width: 1200px;
	display: flex;
	justify-content: space-between;
	margin: 3em auto;
}

main {
	width: 70%;
}

img {
	width: 100%;
	display: block;
	align-items: center;
}

.main__article__top,
.aside__recent-post {
	border-bottom: 1px solid var(--color-6);
	margin-bottom: 1.5em;
}

.aside__recent-post:last-of-type {
	border: none;
	margin-bottom: 1em;
}

.main__article__top__img {
	width: 100%;
	height: 320px;
	object-fit: cover;
}

.main__article {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.5em;
}

.main__article__img-div {
	width: 30%;
}

.main__article__img {
	min-height: 250px;
	object-fit: cover;
}
.main__article__body-div {
	width: 75%;
	margin-left: 2em;
}

.main__article__title,
.aside__recent-post__title {
	font-family: var(--font-2-Lora);
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--color-5);
}

.main__article__body {
	font-size: 1.125rem;
	text-align: justify;
	line-height: 1.8rem;
}

.main__article__top__title {
	margin: 1em 0;
}

.main__article__info,
.main__article__body {
	font-family: var(--font-1-Ubuntu);
	font-weight: 300;
	color: var(--color-6);
	margin-top: 1em;
}

strong {
	color: var(--color-6);
}

.main__article__info,
.main__article__read-more {
	font-size: 0.875rem;
}

.main__article__read-more {
	display: block;
	font-weight: 700;
	text-decoration: none;
	margin: 2em auto;
	letter-spacing: 2px;
}

.main__article__read-more:hover,
.main__article__read-more:focus {
	color: var(--color-5);
	text-decoration: underline;
}

aside {
	width: 25%;
	min-width: 200px;
	max-width: 250px;
	margin-left: 1em;
}

.aside__about-me,
.aside__recent-posts {
	border: 20px solid #efefef;
	margin-bottom: 2em;
	padding: 1em;
}

.aside__about-me__title,
.aside__recent-posts__title,
.aside__recent-post__title {
	font-size: 1.125rem;
	/* text-align: center; */
}

.aside__recent-post__title {
	margin: 1em 0;
}

.aside-title {
	font-family: var(--font-1-Ubuntu);
	font-weight: 700;
	margin-bottom: 1em;
	color: var(--color-5);
}

.aside__about-me__body {
	color: var(--color-5);
	font-family: var(--font-1-Ubuntu);
	font-weight: 300;
	font-size: 1rem;
	padding: 1em 0;
	line-height: 1.8rem;
}

@media only screen and (max-width: 1200px) {
	.container--content {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	main {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin: 0 auto;
	}

	.main__article__top {
		margin-bottom: 3em;
	}

	.main__article {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 2em;
	}

	.main__article__img-div {
		width: 100%;
	}

	img {
		max-height: 200px;
		object-fit: cover;
	}

	.main__article__info {
		text-align: right;
	}

	.main__article__body-div {
		width: 100%;
		margin-left: 0;
	}

	aside {
		width: 100%;
		max-width: 750px;
		margin: 0 auto;
	}

	.aside__recent-post {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 1em;
		width: 100%;
	}
}

footer {
	background-color: #143774;
	color: #ffffff;
	font-weight: 300;
	font-family: var(--font-1-Ubuntu);
	font-size: 1em;
	height: 6em;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}

h3 {
	color: var(--color-4);
	font-family: var(--font-2-Lora);
	font-size: 1.3rem;
	font-weight: 300;
	margin: 1em 0;
}
/* 2:41:15 FONTS AND SIZES!!! */
